<h1>TeenyURL</h1>

<form id="url" action="/" method="post">
  <input type="url" placeholder="http://" name="url" />

  <input type="submit" value="+" />
</form>

<% for link in @links %>
  <div class="link">
    <span class="column url">
      <a href="<%= link.url %>">
        <%= link.url %>
      </a>
    </span>

    <span class="column url">
      <a href="<%= url("/#{link.slug}") %>" target="_blank">
        <%= url("/#{link.slug}") %>
      </a>
    </span>

    <span class="column count">
      <%= link.count %> Visits
    </span>

    <span class="column action">
      <form action="/<%= link.slug %>" method="post" style="display: inline-block;">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">&times;</button>
      </form>
    </span>
  </div>
<% end %>
